
        <div class="pdesc">
  <p class="job">Full-stack Developer</p>
  <h3>Hello I'm</h3>
  <h2>Muhammed Nisham O N</h2>
  <p class="summary">Full-stack developer skilled in Python, JavaScript, HTML5, CSS3, and SQL. <br> 
                     Proven experience building responsive web applications, managing databases, and delivering real-world data analysis. <br>
                     Strong problem-solver with a passion for learning and a track record of successful projects using modern tools and collaborative practices.</p>
</div>
