<div class="resume">
    <div class="container">
    <nav class="tabs">
      <button class="tab active" data-tab="internships"><i class="fa-solid fa-briefcase"></i> Internships</button>
      <button class="tab" data-tab="experience"><i class="fa-solid fa-briefcase"></i> Experience</button>
      <button class="tab" data-tab="education"><i class="fa-solid fa-graduation-cap"></i> Education</button>
      <button class="tab" data-tab="skills"><i class="fa-solid fa-code"></i> Skills</button>
      <button class="tab" data-tab="about"><i class="fa-regular fa-user"></i> About me</button>
      <button class="tab" data-tab="certificates"><i class="fa-solid fa-code"></i> Certificates</button>
    </nav>

    <section id="internships" class="tab-content active">
      <h1>Internships</h1>
      <div class="card">
        <h2>Data Science Intern</h2>
        <div class="company">Teachnook(ORBO)</div>
        <div class="date-row">
          <i class="fa-regular fa-calendar"></i>
          <span>April 2023 – June 2023</span>
        </div>
        <p>
          During my internship at Teachnook, I gained hands-on experience in data science, focusing on exploratory data analysis (EDA), regression modeling, and classification modeling. I mastered data visualization, fine-tuned regression models, and designed accurate classification models through feature selection.
        </p>
        <div class="tags">
          <span>Data Science</span>
          <span>Exploratory Data Analysisn</span>
          <span>regression Modeling</span>
          <span>Classification Modeling</span>
          <span>Feature Selection</span>
        </div>
      </div>
    </section>

      <section id="experience" class="tab-content">
      <h1>Experience</h1>
      <div class="card">
        <h2>Customer Support Officer</h2>
        <div class="company">Five S Digital</div>
        <div class="date-row">
          <i class="fa-regular fa-calendar"></i>
          <span>May 2024 – Feb 2025</span>
        </div>
        <p>
          Worked as a Customer Support Officer at Fives Digital, a technology company focused on delivering sustainable digital solutions. Provided comprehensive customer service and support operations in Bangalore, ensuring client satisfaction and maintaining professional communication standards. Gained valuable experience in customer relationship management and technical support within a fast-paced digital environment while adhering to confidentiality protocols.
        </p>
        <div class="tags">
          <span>Strong Communication</span>
          <span>Problem Solving</span>
          <span>Client Satisfaction</span>
          <span>Time management</span>
        </div>
      </div>
    </section>

    <section id="education" class="tab-content">
      <h1>Education</h1>
      <div class="card">
        <h2>Full-stack Web Development</h2>
        <div class="company">ITVedant-Bangalore</div>
        <div class="date-row">
          <i class="fa-regular fa-calendar"></i>
          <span>October 2024 – July 2025</span>
        </div>
        <p>
         Certified Full Stack Web Developer with expertise in Python, equipped with comprehensive skills in both front-end and back-end development technologies.
        </p>
        <div class="tags">
          <span>Front-End</span>
          <span>Back-End</span>
          <span>SQL</span>
          <span>Python</span>
        </div>
      </div>

      <div class="card">
        <h2>BCA - Bachelor Of Computer Application</h2>
        <div class="company">Calicut University</div>
        <div class="date-row">
          <i class="fa-regular fa-calendar"></i>
          <span>2021 – 2024</span>
        </div>
        <p>
          Completed Bachelor of Computer Application from Sadanam Kumaran College. Studied core computer science subjects and Computational Theories.
        </p>
        <div class="tags">
          <span>65%</span>
          <span>Data Structures</span>
          <span>Computer Basics</span>
        </div>
      </div>
    </section>

    <section id="skills" class="tab-content">
      <h1>Skills</h1>
      <div class="card">
        <div class="tags">
          <span>HTML</span>
          <span>CSS</span>
          <span>JavaScript</span>
          <span>Bootstrap</span>
          <span>Python</span>
          <span>Django</span>
          <span>Git</span>
        </div>
      </div>
    </section>

    <section id="about" class="tab-content">
      <h1>About Me</h1>
      <div class="card">
        <p>
          Full-stack developer skilled in Python, JavaScript, HTML5, CSS3, and SQL. <br> 
                     Proven experience building responsive web applications, managing databases, and delivering real-world data analysis. <br>
                     Strong problem-solver with a passion for learning and a track record of successful projects using modern tools and collaborative practices. <br>
                     Seeking for better oppertunity to showcase my skills and to learn new technologies.
        </p>
      </div>
    </section>

    <section id="certificates" class="tab-content">
      <h1>Certificates</h1>
      <div class="card">
        <h2>Master In Full-stack Web Development With Python</h2>
        <div class="company">ITVedant</div>
        <div class="date-row">
          <i class="fa-regular fa-calendar"></i>
          <span>2025</span>
        </div>
        <p>
             Certified Full Stack Web Developer with expertise in Python, equipped with comprehensive skills in both front-end and back-end development technologies
        </p>
        <div class="tags">
          <span>HTML</span>
          <span>CSS</span>
          <span>JavaScript</span>
          <span>Bootstrap</span>
          <span>Python</span>
          <span>Django</span>
          <span>SQL</span>
          <span>MySQL</span>
        </div>
      </div>

      <div class="card">
        <h2>Web Development using HTML</h2>
        <div class="company">IBM</div>
        <div class="date-row">
          <i class="fa-regular fa-calendar"></i>
          <span>2025</span>
        </div>
        <div class="tags">
          <span>HTML</span>
          <span>CSS</span>
        </div>
      </div>

      <div class="card">
        <h2>SQL and Relational database</h2>
        <div class="company">IBM</div>
        <div class="date-row">
          <i class="fa-regular fa-calendar"></i>
          <span>2025</span>
        </div>
        <div class="tags">
          <span>SQL</span>
        </div>
      </div>

      <div class="card">
        <h2>Python for Web Development</h2>
        <div class="company">IBM</div>
        <div class="date-row">
          <i class="fa-regular fa-calendar"></i>
          <span>2025</span>
        </div>
        <div class="tags">
          <span>Python</span>
        </div>
      </div>
    </section>
  </div>
</div>
