
<div class="container py-5">
    <h2 class="mb-4 text-start" style="color: #2bb652;">Services I Provide</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">

      <!-- Service Card 1 -->
      <div class="col">
        <div class="card h-100 text-center" style="min-height: 300px;">
          <div class="card-body">
            <h5 class="card-title">Full-stack Development</h5>
            <hr>
            <p class="card-text">Custom, scalable web apps using Django, and modern frameworks. Responsive and optimized for all devices.</p>
          </div>
        </div>
      </div>

      <!-- Service Card 2 -->
      <div class="col">
        <div class="card h-100 text-center" style="min-height: 300px;">
          <div class="card-body">
            <h5 class="card-title">Front-End Development</h5>
            <hr>
            <p class="card-text">Building responsive, high-performance web applications using HTML, CSS, JavaScript, bootstrap and other frameworks</p>
          </div>
        </div>
      </div>

      <!-- Service Card 3 -->
      <div class="col">
        <div class="card h-100 text-center" style="min-height: 300px;">
          <div class="card-body">
            <h5 class="card-title">E-commerce Solutions</h5>
            <hr>
            <p class="card-text">Building secure, feature-rich online stores with payment gateways, shopping carts, and product management. Providing maintenance and service after deployment.</p>
          </div>
        </div>
      </div>

      <!-- service card 4 -->
       <div class="col">
        <div class="card h-100 text-center" style="min-height: 300px;">
          <div class="card-body">
            <h5 class="card-title">Maintenance & Support</h5>
            <hr>
            <p class="card-text">Ongoing maintenance, updates, bug fixing, and performance optimization for your web applications.</p>
          </div>
        </div>
      </div>

      <!-- service card 5 -->
       <div class="col">
        <div class="card h-100 text-center" style="min-height: 300px;">
          <div class="card-body">
            <h5 class="card-title">Content Creation</h5>
            <hr>
            <p class="card-text">Creates attrative contents for both buisness purpose and also for personal purposes.</p>
          </div>
        </div>
      </div>

      <!-- service card 6 -->
       <div class="col">
        <div class="card h-100 text-center" style="min-height: 300px;">
          <div class="card-body">
            <h5 class="card-title">Video Editing</h5>
            <hr>
            <p class="card-text">Familiar with video editing softwares and also have knowledge about latest trends.
              provides output as per client requirement
            </p>
          </div>
        </div>
      </div>
